p {
  color: red;
  width: 500px;
  border: 1px solid black;
}
@import url('https://fonts.googleapis.com/css?family=Rammetto+One');

h2 {
  color: black
  width: 1000px;
  border: 1px solid black;
  font-family: "Rammetto One", sans-serif;
}

h1 {
  color: blue;
  width: 600px;
  border: 1px solid black;
}
